.header {
  width: 100%;
  height: 3rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  background: #e6e6fa0d;
}

.header h5 {
  font-size: 26px;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav a {
  color: var(--text-color);
  padding: 10px 20px;
}

.nav a:hover {
  color: var(--hover-color);
  text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
    0 0 20px rgba(18, 247, 255, 0.6), 0 0 30px rgba(18, 247, 255, 0.6),
    0 0 40px rgba(18, 247, 255, 0.6), 0 0 70px rgba(18, 247, 255, 0.6),
    0 0 80px rgba(18, 247, 255, 0.6), 0 0 100px rgba(18, 247, 255, 0.6),
    0 0 150px rgba(18, 247, 255, 0.6);
}

@media (max-width: 991px) {
  .header {
    display: none;
  }
}
