.skills {
  background: var(--secon-bg-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skillMain {
  display: flex;
  flex: 1 1 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}
.mainText {
  padding: 100px 0px;
}
.skillBar {
  margin-bottom: 2.3rem;
}

.skillMain h3 {
  margin-bottom: 2rem;
  font-size: var(--normal-font);
  text-align: center;
}
.skillLeft {
  width: 500px;
  padding-bottom: 100px;
}
.skillLeft .skillBar .info {
  display: flex;
  justify-content: space-between;
}

.skillLeft .skillBar {
  width: 100%;
  height: 10px;
  background-color: var(--bg-color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.skillBar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--hover-color);
  border-radius: 25px;
  box-shadow: var(--neon-box-shadow);
}
.skillBar .bar .html {
  animation: html 2s;
}
.skillBar .bar .javaScript {
  width: 80%;
  animation: javaScript 2s;
}
.skillBar .bar .typeScript {
  width: 75%;
  animation: typeScript 2s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 72%;
  }
}
@keyframes javaScript {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes typeScript {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@media (max-width: 991px) {
  .skills {
    height: auto;
  }
  .skillLeft {
    max-width: 20rem;
    padding-bottom: 0px;
  }
}
